<div class="search-container">
  <mat-icon class="search-icon">search</mat-icon>
  <input type="text" placeholder="Buscar imágenes" [(ngModel)]="searchTerm" (keyup)="filterImages()" />
</div>
<div class="image-grid">
  <div *ngFor="let image of paginatedImages" class="image-item">
    <ng-container *ngIf="isVideo(image); else imageTemplate">
      <video width="100" height="100" (click)="openVideoDialog(getFullImageUrl(image))">
        <source [src]="getFullImageUrl(image)" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </ng-container>
    <ng-template #imageTemplate>
      <img [src]="getFullImageUrl(image)" alt="Image" (click)="openImageDialog(getFullImageUrl(image), image)">
    </ng-template>
    <button mat-flat-button color="warn" (click)="onDelete(image)">Delete</button>
  </div>
</div>
<mat-paginator [length]="images.length" 
               [pageSize]="pageSize" 
               [pageSizeOptions]="[5, 10, 15, 30]" 
               (page)="changePage($event)">
</mat-paginator>




